*{
    margin:0px;
    /* margin-right:0px; */
    padding:0px;
}

body{
    padding:0px;
}
.container{
    width:100%;
    height:2792px;
    /* background-image: url('background.avif'); */
    /* border: 2px solid red; */

}
.nav{
    display: flex;
    /* border:2px solid green; */
    align-items: center;
    list-style: none;
    background: rgb(240, 240, 248);

}

.nav h1{
    margin:15px 475px 17px 99px;
}
.nav li{
    margin:18px 35px;
    font-size: 20px;
}

.nav li:hover{
    color:blue;
}

.home{
    /* border:2px solid blue; */
    height:445px;
}
.home h1{
    margin:198px 16px;
    font-size: 46px;
    width: 673px;


}
.home p{
    margin:-64px 544px;
    font-size: 26px;

}

.home button{
    margin:273px 161px;
    font-size: 20px;
    width: 141px;
    height: 47px;
    background: blue;
    color:white;
    border-radius: 26px;
    /* border-inline: none; */
    border:none;
}

.imag{
    background-image: url("./images/first.jpg");
    width:67%;
    height:576px;
    /* border:2px solid red; */
    margin:-474px 497px;
    border-radius: 494px 1px 296px;
    background-size: contain;
    background-repeat: no-repeat;

}
.about{
    /* border:2px solid green; */
    height:494px;
    background:rgb(236, 236, 240) ;
}
#abouth1{
    border:2px solid red;
    margin:0px 0px;
}
.about h1{
    margin:43px 595px;
    font-size: 39px;
    width:384px;
}
.about p{
    /* border:2px solid red; */
    width:874px;
    margin:-17px 315px;
}

 #i0{
    color:#df5050;
    margin:86px 126px;
    font-size:20px;
    /* border:2px solid blue; */
}
#p{
    /* border:3px solid green; */
    margin:-109px 149px;
    width:585px;
}

#i{
    margin:38px 807px;
    color:#df5050;
    font-size: 20px;
} 

#p1{
    margin:-60px 833px;
    width:585px;
}

#i1{

    margin:86px 126px;
    color:#df5050;
    font-size: 20px;
}

#p2{

    margin:-105px 149px;
    width:585px;
}

#i2{

    margin:43px 807px;
    color:#df5050;
    font-size: 20px;

}

#p3{
    margin:-64px 833px;
    width:585px;
}

.services{
   
    /* border:2px solid red; */
    height:658px;
    margin:0px 0px;
    background:rgb(193, 206, 228);
}

#servicesT{
        padding: 73px 0px 1px 453px;
    /* border:2px solid green; */
    font-size: 20px;
}

#servicesT h1{
    margin:0px 0px ;
}
#servicesT1{
    margin:-48px 825px;
    color:rgb(86, 70, 205);
    font-size: 20px;
}

#css{
    width:191px;
    /* border:2px solid red; */
    height:144px;
    margin:162px 172px;
    background:white;
}
#html{
    width:191px;
    height:144px;
    /* border:2px solid red; */
    margin:162px 111px;
    background:white;
}
#js img{
    width:191px;
    height:144px;
    /* border:2px solid red; */
    margin:-17px 111px;
    background:white;
}

#js{
    margin:-295px 1011px;
}
#node{
    width:253px;
    height:133px;
    /* border:2px solid rgb(103, 154, 181); */
    margin:375px 141px;
    background:white;
}
#mongodb{
    width:451px;
    height:133px;
    /* border:2px solid rgb(108, 105, 105); */
    margin:375px -11px;
    background:white;
}
#mysql{
    width:300px;
    height:133px;
    /* border:2px solid rgb(207, 159, 159); */
    margin:375px 111px;
    background:white;
}

#react{
    width:300px;
    height:60px;
    /* border:2px solid red; */
    margin:162px 111px;
    background:white;
}

.contact{
    /* border:2px solid red; */
    height:639px;
}

#conth1{
    margin:47px 679px;
    width:237px;
    font-size: 21px;

}

#contp{
    margin:-33px 617px;
    width:409px;
    font-size: 20px;
}

.social{
    /* border:2px solid gree6n; */
    width:662px;
    height:216px;
    margin:78px 111px;
    padding:5px 0px;
    box-shadow:0px 0px 5px 0px;
}

/* #share{
    margin:17px 298px;
    border:2px solid blue;
    width:46px;
    height:46px;
    border-radius: 195px;
    background:rgb(240, 241, 242);
} */

#tp{
    margin:17px 298px;
    /* border:2px solid blue; */
    width:46px;
    height:46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 195px;
    background:rgb(240, 241, 242);
}
#shareI{
    font-size: 20px;
    margin:16px 8px;
    padding: 27px 0px;
    border:2px solid green;
}
.fa-share-nodes{
    color:rgb(49, 78, 227);
    /* width:100px; */
    font-size: 25px;
    /* height:100px; */
    /* border:2px solid red; */
    margin:10px 3px;

}

#socialh1{
    /* border:2px solid red; */
    width:168px;
    height:33px;
    font-size: 14px;
    color:rgb(176, 192, 229);
    margin:-12px 241px;
}

#twitter{
    width:51px ;
    height:50px;
    margin:21px 158px;
    border:2px solid rgb(160, 160, 188);
    color:rgb(75, 121, 180);
    font-size: 25px;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 11px 14px; */
}

#facebook{
    width:51px ;
    height:50px;
    margin:-74px 234px;
    border:2px solid rgb(160, 160, 188);
    color:rgb(75, 121, 180);
    font-size: 25px;
    border-radius: 43px;
    /* padding: 11px 14px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#instagram{
        width:51px ;
        height:50px;
        margin:22px 310px;
        /* border:2px solid blue; */
        border:2px solid rgb(160, 160, 188);
        color:rgb(75, 121, 180);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        border-radius: 43px;
        /* padding: 11px 14px; */
}

#skype{
    width:51px ;
    height:50px;
    margin:-77px 386px;
    /* border:2px solid blue; */
    border:2px solid rgb(160, 160, 188);
    color:rgb(75, 121, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 43px;
}

#linkdin{
    width:51px ;
    height:50px;
    margin:24px 462px;
    /* border:2px solid blue; */
    border:2px solid rgb(160, 160, 188);
    color:rgb(75, 121, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 43px;
}

.detail{
    width:586px;
    height:448px;
    /* border:2px solid blueviolet; */
    margin:-305px 820px;
    box-shadow: 0px 0px 5px 0px;
}

/* #name{
    width:200px;
    height:40px;
    border:2px solid red;
    margin:0px 0px;
} */
#name {
    width:205px;
    height:39px;
    /* display: flex; */
    padding: 0px 27px;
    
    outline-color: rgb(182, 182, 222);
    border:0.1px solid rgb(200, 218, 241);
    outline-width: thin;
    margin:20px 23px;
    /* align-items: center; */
    font-size: 18px;
    
    
}

/* #email{
    margin:-49px 0px;
     border-color: blue;
    
} */
#email {
    width:205px;
    height:39px;
    /* display: flex; */
    outline-color: rgb(182, 182, 222);
    border:0.1px solid rgb(200, 218, 241);
    outline-width: thin;
    /* align-items: center; */
    padding: 0px 27px;
    font-size: 18px;
    margin:1px -15px;

    
}

#subject {
    width:478px;
    height:39px;
    /* display: flex; */
    outline-color: rgb(182, 182, 222);
    border:0.1px solid rgb(200, 218, 241);
    outline-width: thin;
    align-items: center;
    padding: 0px 27px;
    font-size: 18px;
    margin:-9px 23px;
}

/* #message{
    margin:-62px 23px;
} */
#message input{
    width:478px;
    height:43px;
    outline-color: rgb(182, 182, 222);
    border:0.1px solid rgb(200, 218, 241);
    outline-width: thin;
    /* display: flex; */
    padding:173px 29px;
    font-size: 20px;
    margin:21px 22px;
    padding-top:0px;

}

#btn{
    margin:1px 205px;
    width:176px;
    height:50px;
    border-radius: 11px;
    font-size: 17px;
    /* outline: none; */
    border:none;
    color:white;
    background: rgb(81, 114, 197);
}


.emailme{
    width:317px;
    height:205px;
    /* border:2px solid blue; */
    
    margin:101px 109px;
    box-shadow: 0px 0px 5px 0px;
}

#gemail{
    width:57px;
    height:57px;
    /* position: relative; */
    position:absolute;
    margin:42px 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border-radius: 33px;
    background:rgb(213, 222, 233);
}
#gemail i{
    background:white;
    height:20px;
    width:29px;
    padding:0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    
    color:rgb(69, 95, 160);
}

.emailme h1{
    /* border:2px solid red; */
    width:154px;
    font-size:30px;
    margin:109px 94px;
    position: absolute;
    color:rgb(190, 190, 233);

}
.emailme p{
    width:248px;
    font-size: 17px;
    margin:155px 32px;
    /* border:2px solid blue; */
    color:rgb(44, 79, 127);
    position:absolute;
}

.call{
    width:317px;
    height:205px;
    /* border:2px solid blue; */
    position:absolute;
    margin:-306px 455px;
    box-shadow: 0px 0px 5px 0px;
}

#call{
    width:57px;
    height:57px;
    /* position: relative; */
    position:absolute;
    margin:42px 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border-radius: 33px;
    background:rgb(213, 222, 233);
}

#call i{
    /* color:rgb(44, 79, 127); */
    background:white;
    height:29px;
    width:20px;
    padding:0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    /* border-radius: 10px; */
    
    color:rgb(69, 95, 160);
}
.call h1{
    width:154px;
    font-size:30px;
    margin:109px 106px;
    position: absolute;
    color:rgb(190, 190, 233);
}

.call p{
    width:248px;
    font-size: 19px;
    margin:155px 88px;
    /* border:2px solid blue; */
    color:rgb(44, 79, 127);
    position:absolute;
}

.footer{
    width:100%;
    height: 243px;
    /* border:2px solid blue; */
    display: flex;
    justify-content: center;
    background:rgb(68, 68, 76);

    /* align-items: center; */

}

#techdev{
    width:145px;
    height:40px;
    /* border:2px solid green; */
    font-size: 20px;
    color:white;
    margin:42px 0px;
   
    
}
#logo{
    /* border:2px solid red; */
    width:216px;
    height:40px;
    position: absolute;
    margin:122px 0px;
}

/* #logo div{
    margin:0px 0px;
} */
#twitter1{
    width:36px ;
    height:36px;
    margin:0px 44px;
    position: absolute;
    /* border:2px solid rgb(160, 160, 188); */
    background:rgb(104, 106, 110);
    color:rgb(252, 253, 255);
    font-size: 20px;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 11px 14px; */
}

#facebook1{
    width:36px ;
    height:36px;
    margin:0px 88px;
    position: absolute;
    /* border:2px solid rgb(160, 160, 188); */
    background:rgb(104, 106, 110);
    color:rgb(252, 253, 255);
    font-size: 20px;
    border-radius: 43px;
    /* padding: 11px 14px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#instagram1{
        width:36px ;
        height:36px;
        margin:0px 132px;
        position: absolute;
        /* border:2px solid blue; */
        background:rgb(104, 106, 110);
        color:rgb(252, 253, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        border-radius: 43px;
        /* padding: 11px 14px; */
}

#skype1{
    width:36px ;
    height:36px;
    margin:0px 176px;
    position: absolute;
    /* border:2px solid blue; */
    background:rgb(104, 106, 110);
    color:rgb(252, 253, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 43px;
}

#linkdin1{
    width:36px ;
    height:36px;
    margin:0px 0px;
    position: absolute;
    /* border:2px solid blue; */
    background:rgb(104, 106, 110);
    color:rgb(252, 253, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 43px;
}
#copy{
    /* border:2px solid green; */
    width:293px;
    position: absolute;
    margin:174px 0px;
    color:white;
}